<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="registerBoard" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardTitle, boardWriter, boardContents, memberId) values
            (#{boardTitle}, #{boardWriter}, #{boardContents}, #{memberId});
    </insert>
    
    <insert id="registerAttachedFile" parameterType="attchedFile" useGeneratedKeys="true" keyProperty="id">
        insert into board_file_table(originalFileName, storedFileName, boardId) values
            (#{originalFileName}, #{storedFileName}, #{boardId});
    </insert>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select id, boardTitle, boardWriter, boardContents, boardHits, boardCreatedDate, memberId
        from board_table
        order by boardHits desc limit #{offset}, #{pageCount};
    </select>

    <select id="totalBoardCount" resultType="int">
        select count(id) from board_table;
    </select>

    <select id="boardDetail" parameterType="long" resultType="board">
        select bt.id, boardTitle, boardWriter, boardContents, boardHits, boardCreatedDate, memberId, count(bft.id) as attachedFileCount
        from board_table bt left join board_file_table bft
        on bt.id = bft.boardId
        where bt.id = #{id};
    </select>

    <update id="increaseBoardHits" parameterType="long">
        update board_table set boardHits = boardHits + 1 where id = #{id};
    </update>

    <update id="boardUpdate" parameterType="board">
        update board_table set boardTitle = #{boardTitle}, boardContents = #{boardContents} where id = #{id};
    </update>
    
    <delete id="boardDelete" parameterType="long">
        delete from board_table where id=#{id};
    </delete>

    <select id="boardSearch" parameterType="String" resultType="board">
        select id, boardTitle, boardWriter, boardContents, boardHits, boardCreatedDate, memberId
        from board_table
        where boardWriter
    </select>
</mapper>