<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="registerBoard" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardTitle, boardWriter, boardContents, memberId) values
            (#{boardTitle}, #{boardWriter}, #{boardContents}, #{memberId});
    </insert>
    
    <insert id="registerAttachedFile" parameterType="attchedFile" useGeneratedKeys="true" keyProperty="id">
        insert into board_file_table(originalFileName, storedFileName, boardId) values
            (#{originalFileName}, #{storedFileName}, #{boardId});
    </insert>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select id, boardTitle, boardWriter, boardContents, boardHits, boardCreatedDate
        from board_table
        order by boardHits desc limit #{offset}, #{pageCount};
    </select>

    <select id="totalBoardCount" resultType="int">
        select count(id) from board_table;
    </select>
</mapper>